.main{
	width: 1020px;
	height: 1000px;
}
/* Trung */
/* Nam */
/* Thanh */
/* Thành */
.box{
	width: 1020px;
	height: 400px;
	margin: 0 auto;
	background: white;
}
.box .box1{
	float: left;
	width: 23%;
	height: 100%;
	background: white;
	margin-left: 1%;
	margin-right:1%;
}
.box .box2{
	float: left;
	width: 23%;
	height: 100%;
	background: white;
	margin-left: 1%;
	margin-right:1%;
}
.box .box3{
	float: left;
	width: 23%;
	height: 100%;
	background: white;
	margin-left: 1%;
	margin-right:1%;
}
.box h3{
	color: blue;
}
.box p{
	text-align: justify;	
}
.box p a{
	text-decoration: none;
	
	padding-left: 150px;
}
.box1 a{
	float: right;
	display: block;
	width: 45%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #778899;
	margin: 0 auto;
	text-decoration: none;
	border-radius: 10px;
}
/* Thư */
/* Đan */
/* Tùng */
/* Leader */